## Optimizing the Model

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', "SPECIAL_CONSIDERATIONS", "STATUS"])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_ct = application_df["APPLICATION_TYPE"].value_counts()
application_ct

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_ct[application_ct<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification_ct = application_df["CLASSIFICATION"].value_counts()
classification_ct

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_ct[classification_ct > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_ct[classification_ct<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,NAME_146TH ALUMNI ASSOCIATION,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [10]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(columns=["IS_SUCCESSFUL"]).values
y = application_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# ATTEMPT 1
## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
nodes_layer1 = 120
nodes_layer2 = 40

nn = tf.keras.models.Sequential()

# Hidden layers
nn.add(tf.keras.layers.Dense(units=nodes_layer1, input_dim=number_input_features, activation="relu"))
nn.add(tf.keras.layers.Dense(units=nodes_layer2, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 120)               2353080

 dense_1 (Dense)             (None, 40)                4840

 dense_2 (Dense)             (None, 1)                 41

=================================================================
Total params: 2,357,961
Trainable params: 2,357,961
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 14s 17ms/step - loss: 0.4751 - accuracy: 0.7747
Epoch 2/50
804/804 [==============================] - 14s 17ms/step - loss: 0.1246 - accuracy: 0.9591
Epoch 3/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0989 - accuracy: 0.9618
Epoch 4/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0929 - accuracy: 0.9618
Epoch 5/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0902 - accuracy: 0.9635
Epoch 6/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0886 - accuracy: 0.9638
Epoch 7/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0876 - accuracy: 0.9638
Epoch 8/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0870 - accuracy: 0.9641
Epoch 9/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0861 - accuracy: 0.9644
Epoch 10/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0859 - accuracy: 0.9642
Epoch 11/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0852 - accuracy: 0.9643
Epoch 12/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0848 - accuracy: 0.9649
Epoch 13/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0848 - accuracy: 0.9652
Epoch 14/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0844 - accuracy: 0.9645
Epoch 15/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0834 - accuracy: 0.9651
Epoch 16/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0838 - accuracy: 0.9650
Epoch 17/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0838 - accuracy: 0.9652
Epoch 18/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0828 - accuracy: 0.9659
Epoch 19/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0827 - accuracy: 0.9656
Epoch 20/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0820 - accuracy: 0.9657
Epoch 21/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0821 - accuracy: 0.9661
Epoch 22/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0814 - accuracy: 0.9659
Epoch 23/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0810 - accuracy: 0.9664
Epoch 24/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0810 - accuracy: 0.9671
Epoch 25/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0807 - accuracy: 0.9676
Epoch 26/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0802 - accuracy: 0.9675
Epoch 27/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0801 - accuracy: 0.9669
Epoch 28/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0798 - accuracy: 0.9670
Epoch 29/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0793 - accuracy: 0.9672
Epoch 30/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0788 - accuracy: 0.9672
Epoch 31/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0788 - accuracy: 0.9676
Epoch 32/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0788 - accuracy: 0.9670
Epoch 33/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0784 - accuracy: 0.9672
Epoch 34/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0782 - accuracy: 0.9676
Epoch 35/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0779 - accuracy: 0.9676
Epoch 36/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0779 - accuracy: 0.9681
Epoch 37/50
804/804 [==============================] - 13s 17ms/step - loss: 0.0777 - accuracy: 0.9678
Epoch 38/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0775 - accuracy: 0.9680
Epoch 39/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0775 - accuracy: 0.9678
Epoch 40/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0771 - accuracy: 0.9684
Epoch 41/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0775 - accuracy: 0.9677
Epoch 42/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0770 - accuracy: 0.9680
Epoch 43/50
804/804 [==============================] - 16s 20ms/step - loss: 0.0771 - accuracy: 0.9682
Epoch 44/50
804/804 [==============================] - 15s 18ms/step - loss: 0.0772 - accuracy: 0.9679
Epoch 45/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0769 - accuracy: 0.9679
Epoch 46/50
804/804 [==============================] - 15s 19ms/step - loss: 0.0763 - accuracy: 0.9685
Epoch 47/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0767 - accuracy: 0.9684
Epoch 48/50
804/804 [==============================] - 14s 18ms/step - loss: 0.0763 - accuracy: 0.9683
Epoch 49/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0762 - accuracy: 0.9685
Epoch 50/50
804/804 [==============================] - 14s 17ms/step - loss: 0.0770 - accuracy: 0.9687

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5839 - accuracy: 0.7242 - 648ms/epoch - 2ms/step
Loss: 0.5839135646820068, Accuracy: 0.7241982221603394

In [16]:
# Export our model to HDF5 file
nn.save("output/AlphabetSoupCharity_Optimization_01.h5")

# ATTEMPT 2
## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
nodes_layer1 = 100
nodes_layer2 = 60

nn = tf.keras.models.Sequential()

# Hidden layers
nn.add(tf.keras.layers.Dense(units=nodes_layer1, input_dim=number_input_features, activation="relu"))
nn.add(tf.keras.layers.Dense(units=nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 100)               1960900

 dense_4 (Dense)             (None, 60)                6060

 dense_5 (Dense)             (None, 1)                 61

=================================================================
Total params: 1,967,021
Trainable params: 1,967,021
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 13s 15ms/step - loss: 0.4781 - accuracy: 0.7689
Epoch 2/50
804/804 [==============================] - 12s 16ms/step - loss: 0.1247 - accuracy: 0.9562
Epoch 3/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0954 - accuracy: 0.9620
Epoch 4/50
804/804 [==============================] - 13s 16ms/step - loss: 0.0917 - accuracy: 0.9628
Epoch 5/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0907 - accuracy: 0.9621
Epoch 6/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0896 - accuracy: 0.9634
Epoch 7/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0894 - accuracy: 0.9634
Epoch 8/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0887 - accuracy: 0.9638
Epoch 9/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0878 - accuracy: 0.9633
Epoch 10/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0873 - accuracy: 0.9633
Epoch 11/50
804/804 [==============================] - 12s 14ms/step - loss: 0.0867 - accuracy: 0.9643
Epoch 12/50
804/804 [==============================] - 12s 14ms/step - loss: 0.0865 - accuracy: 0.9645
Epoch 13/50
804/804 [==============================] - 12s 14ms/step - loss: 0.0859 - accuracy: 0.9647
Epoch 14/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0853 - accuracy: 0.9649
Epoch 15/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0848 - accuracy: 0.9650
Epoch 16/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0842 - accuracy: 0.9656
Epoch 17/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0840 - accuracy: 0.9658
Epoch 18/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0838 - accuracy: 0.9653
Epoch 19/50
804/804 [==============================] - 12s 14ms/step - loss: 0.0838 - accuracy: 0.9654
Epoch 20/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0828 - accuracy: 0.9656
Epoch 21/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0832 - accuracy: 0.9658
Epoch 22/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0824 - accuracy: 0.9661
Epoch 23/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0824 - accuracy: 0.9661
Epoch 24/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0815 - accuracy: 0.9666
Epoch 25/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0816 - accuracy: 0.9668
Epoch 26/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0811 - accuracy: 0.9667
Epoch 27/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0811 - accuracy: 0.9668
Epoch 28/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0806 - accuracy: 0.9667
Epoch 29/50
804/804 [==============================] - 12s 14ms/step - loss: 0.0805 - accuracy: 0.9669
Epoch 30/50
804/804 [==============================] - 12s 14ms/step - loss: 0.0801 - accuracy: 0.9665
Epoch 31/50
804/804 [==============================] - 12s 14ms/step - loss: 0.0797 - accuracy: 0.9673
Epoch 32/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0794 - accuracy: 0.9673
Epoch 33/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0791 - accuracy: 0.9674
Epoch 34/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0789 - accuracy: 0.9676
Epoch 35/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0789 - accuracy: 0.9672
Epoch 36/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0783 - accuracy: 0.9679
Epoch 37/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0783 - accuracy: 0.9680
Epoch 38/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0783 - accuracy: 0.9678
Epoch 39/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0776 - accuracy: 0.9675
Epoch 40/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0777 - accuracy: 0.9682
Epoch 41/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0776 - accuracy: 0.9681
Epoch 42/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0770 - accuracy: 0.9682
Epoch 43/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0773 - accuracy: 0.9679
Epoch 44/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0772 - accuracy: 0.9679
Epoch 45/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0766 - accuracy: 0.9682
Epoch 46/50
804/804 [==============================] - 12s 14ms/step - loss: 0.0763 - accuracy: 0.9683
Epoch 47/50
804/804 [==============================] - 12s 15ms/step - loss: 0.0766 - accuracy: 0.9684
Epoch 48/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0763 - accuracy: 0.9685
Epoch 49/50
804/804 [==============================] - 12s 14ms/step - loss: 0.0767 - accuracy: 0.9682
Epoch 50/50
804/804 [==============================] - 11s 14ms/step - loss: 0.0763 - accuracy: 0.9683

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6906 - accuracy: 0.7403 - 900ms/epoch - 3ms/step
Loss: 0.6906061172485352, Accuracy: 0.7402915358543396

In [21]:
# Export our model to HDF5 file
nn.save("output/AlphabetSoupCharity_Optimization_02.h5")